th,td{
    border: 1px solid black;
}
#items-flex{
    font-family: 'CeraPRO-Light', CeraPRO-Regular;
    font-weight: 200;
    font-style: normal;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;

}
#items-flex > div{
    height: 460px;
    width: 266px;
    margin: 5px 1px;
    padding: 10px 10px;
    text-align: center;
    border-right: 0.1px solid rgb(236, 236, 236);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
#items-flex > div:hover{
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
#items-flex > div > img{
    width: 100%;
    height: 60%;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#item-name:hover{
    color: #880033;
    cursor: pointer;
}
#del-span{
    border:1px solid #880033;
    border-radius: 10px;
    font-size: x-small;
    color: #880033;
    padding: 5px 10px;
    font-family: 'CeraPRO-Light', CeraPRO-Regular;
    font-weight: bolder;
}
#mrp-span{
    border: 1px solid gray;
    border-radius: 10px;
    font-weight: 400;
    padding: 5px 10px;
}
#rate-cart{
    display: flex;
    align-content: center;
    justify-content: space-around;
    border: 1px solid transparent;
    align-items: center;
    margin: auto;
}
#trolley-img{
    border: 1px solid #b2fa59;
    background-color: #a3f83c;
    padding: 5px 10px;
    border-radius: 10px;
}
#trolley-img:hover{
    background-color: #467909;
    cursor: pointer;
}
#price-sort{
    width: 100%;
    height: 150px;
    border: 1px solid transparent;
}
#price-sort > p{
    font-size: xx-large;
    padding-left: 10px;
}
#catg-name{
    display: flex;
    justify-content: space-between;
}
#catg-name > div:nth-child(1) > span:nth-child(1){
    font-size: xx-large;
    font-family: 'CeraPRO-Light', CeraPRO-Regular;
    padding: 10px 10px;
}
#items-count{
    color: gray;
    font-family: 'CeraPRO-Light', CeraPRO-Regular;
}
#catg-name > div:nth-child(2){
    padding: 20px 20px;
}
#filter-functionalites{
    min-width: 300px;
    height: fit-content;
    border: 1px solid gray;
    margin-right: 30px;
    margin-left: 15px;
}
#main-container{
    display: flex;
}
#first-filter{
    display: flex;
    justify-content: space-between;

}
#first-filter > span{
    font-size: larger;
    padding: 10px;
}
#first-filter > span:nth-child(2){
    color: #7fc42b;
}
.filter_s{
    margin-left: 20px;
    max-height: 200px;
    overflow-y: scroll;
}

.filter_s::-webkit-scrollbar {
    width: 5px;
    }
    
.filter_s::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
    }
    
.filter_s::-webkit-scrollbar-thumb {
    background:gray; 
    border-radius: 10px;
    }
    
.filter_s::-webkit-scrollbar-thumb:hover {
    background:rgb(54, 56, 58); 
    }
h3{
    margin-left: 20px;
}
.filter_s > p:hover{
    line-height: 0px;
    padding: 20px 20px;
    background-color: #7fc42b;
    cursor: pointer;
}
.filter_s > label:hover{
    color: #7fc42b;
    cursor: pointer;
}
#home-cart{
    display: flex;
    justify-content: right;
}
#go-to-home,#go-to-cart{
    /* margin-left: 90%; */
    border-radius: 5px;
    background-color: #7fc42b;
    padding: 5px 10px;
}
#go-to-home:hover,#go-to-cart:hover{
    background-color: #467909;
    cursor: pointer;
}
#relevance-sort{
    cursor: pointer;
}

@media only screen and (min-width:0) and (max-width:376px){
    #filter-functionalites{
        display: none;

    }
    #items-flex{
        text-align: center;
        justify-content: center;
        margin-top: 100px;
    }
    #go-to-home{
        margin-left: 70%;
    }
    #selected-category-name{
        font-size: 12px;
    }
}

@media only screen and (min-width:376px) and (max-width:768px){
    #filter-functionalites{
        display: none;

    }
    #items-flex{
        text-align: center;
        justify-content: center;
        margin-top: 50px;
    }
    #go-to-home{
        margin-left: 85%;
    }
}






