body {
  margin: 0;
}
.star {
  border-radius: 1px solid#880033;
  color: #880033;
  background-color: transparent;
  margin-left: 5px;
  border-radius: 10px;
  cursor: pointer;
}

.star:hover {
  color: white;
  background-color: #82ba3c;
}
.header {
  overflow: hidden;
  padding: 10px 10px;
  box-shadow: rgba(130, 186, 60, 0.4) 0px 4px 6px -1px,
    rgba(130, 186, 60, 0.6) 0px 2px 4px -1px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
}

.header-right a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  cursor: pointer;
}

.header a:hover {
  color: #82ba3c;
  text-decoration: underline;
}

.header-right {
  float: right;
}

#company-logo {
  width: 15%;
  padding: 0 10px;
}
.container {
  padding: 20px;
}

.sub_menu {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: right;
  border-bottom: 2px solid #82ba3c;
}

.sub_menu > button {
  padding: 5px 10px;
  color: white;
  background-color: #82ba3c;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.sub_menu > button:hover {
  background-color: #436b12;
}

#items-flex {
  font-family: "CeraPRO-Light", CeraPRO-Regular;
  font-weight: 200;
  font-style: normal;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
}

#items-flex > div {
  height: 460px;
  width: 266px;
  margin: 5px 1px;
  padding: 10px 10px;
  text-align: center;
  border-right: 0.1px solid rgb(236, 236, 236);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

#items-flex > div:hover {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

#items-flex > div > img {
  width: 100%;
  height: 60%;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#item-name:hover {
  color: #880033;
  cursor: pointer;
}

#del-span {
  border: 1px solid #880033;
  border-radius: 10px;
  font-size: x-small;
  color: #880033;
  padding: 5px 10px;
  font-family: "CeraPRO-Light", CeraPRO-Regular;
  font-weight: bolder;
}

#mrp-span {
  border: 1px solid gray;
  border-radius: 10px;
  font-weight: 400;
  padding: 5px 10px;
}

#rate-cart {
  display: flex;
  align-content: center;
  justify-content: space-around;
  border: 1px solid transparent;
  align-items: center;
  margin: auto;
}

#trolley-img {
  border: 1px solid #b2fa59;
  background-color: #a3f83c;
  padding: 5px 10px;
  border-radius: 10px;
}

#trolley-img:hover {
  background-color: #467909;
  cursor: pointer;
}
.footer {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #82ba3c;
  padding: 10px;
}

.footer > div {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  text-align: center;
}

.footer > div a,
.footer > div p {
  color: black;
  text-decoration: none;
  line-height: 25px;
}

.footer > div a:hover {
  color: white;
}

@media only screen and (min-width: 0) and (max-width: 376px) {
  .header {
    text-align: center;
  }
  #company-logo {
    width: 80%;
  }
  .container {
    padding: 10px;
  }
  #items-flex {
    text-align: center;
    justify-content: center;
    margin-top: 100px;
  }
  .footer {
    justify-content: center;
  }

  .footer > div {
    margin: 10px;
  }
}

@media only screen and (min-width: 376px) and (max-width: 768px) {
  .header {
    text-align: center;
  }
  #company-logo {
    width: 80%;
  }
  #items-flex {
    text-align: center;
    justify-content: center;
    margin-top: 50px;
  }
  .footer {
    justify-content: center;
  }

  .footer > div {
    margin: 20px;
  }
}
