body {
  margin: 0;
}

.header {
  overflow: hidden;
  padding: 10px 10px;
  box-shadow: rgba(130, 186, 60, 0.4) 0px 4px 6px -1px,
    rgba(130, 186, 60, 0.6) 0px 2px 4px -1px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
}

.header-right a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  cursor: pointer;
}

.header a:hover {
  color: #82ba3c;
  text-decoration: underline;
}

.header-right {
  float: right;
}

#company-logo {
  width: 15%;
  padding: 0 10px;
}

.container {
  margin: 20px auto;
  border-radius: 10px;
  width: 70%;
  border: 1px solid grey;
  text-align: center;
  align-items: center;
}
#myForm {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#myForm > input {
  border-radius: 2px;
  border: 1px solid grey;
}
#myForm > span {
  font-size: 15px;
}
#btn {
  padding: 5px 10px;
  border-radius: 3px;
  background-color: rgb(146, 190, 70);
  color: white;
  border: 1px solid grey;
  margin-top: 20px;
}
.container > h3 {
  background-color: rgb(146, 190, 70);
  padding: 15px;
  width: 80%;
  margin: auto;
  margin-top: 10px;
  border-radius: 5px;
  color: white;
}

td {
  text-align: left;
  padding-left: 20px;
}

.footer {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #82ba3c;
  padding: 10px;
}

.footer > div {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  text-align: center;
}

.footer > div a,
.footer > div p {
  color: black;
  text-decoration: none;
  line-height: 25px;
}

.footer > div a:hover {
  color: white;
}

@media only screen and (min-width: 0) and (max-width: 376px) {
  .header {
    text-align: center;
  }

  #company-logo {
    width: 80%;
  }
  .footer {
    justify-content: center;
  }

  .footer > div {
    margin: 10px;
  }
}
@media only screen and (min-width: 376px) and (max-width: 768px) {
  .header {
    text-align: center;
  }

  #company-logo {
    width: 80%;
  }
  .footer {
    justify-content: center;
  }

  .footer > div {
    margin: 20px;
  }
}

@media only screen and (min-width: 0) and (max-width: 768px) {
  #myForm {
    margin: 20px;
  }
  td {
    text-align: left;
    padding-left: 10 px;
    width: 30%;
    display: inherit;
  }
}
