#rp-logo {
  margin: auto;
  width: fit-content;
}
#container {
  width: 60%;
  display: grid;
  border: 1px solid grey;
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
  border-radius: 5px;
}
.firstside {
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.firstside > div {
  display: flex;
  justify-content: space-between;
  font-size: 8px;
  background-color: rgb(146, 190, 70);
  border-radius: 3px;
  padding: 5px 10px;
}
.firstside > div > button {
  border-radius: 3px;
  padding: 0px 5px;
  font-size: 7px;
  background-color: rgb(221, 220, 220);
  border: 1px solid rgb(150, 142, 142);
}
.firstside > p {
  font-size: 7px;
}
.Secondside {
  padding: 11px;
}
.Secondside > div {
  display: flex;
  font-size: 7px;
  justify-content: space-between;
}
.Secondside > div:nth-child(2) {
  display: flex;
  flex-direction: column;
}
.PayOpt > div > button {
  width: 100%;
  padding: 5px;
  text-align: left;
  border: 0px;
  background-color: white;
  border-bottom: 1px solid grey;
  margin: 5px;
}
.PayOpt {
  margin-top: 10px;
  cursor: pointer;
}
.PayOpt > div:hover {
  background-color: rgb(146, 190, 70);
  color: white;
}
#language {
  font-size: 8px;
  padding: 0px;
  border-radius: 5px;
}
.Secondside > div:nth-child(1) {
  background-color: rgb(146, 190, 70);
  border-radius: 3px;
  padding: 6px 12px;
}
@media only screen and (min-width: 375px) and (max-width: 768px) {
  #container {
    width: 60%;
    display: grid;
    border: 1px solid grey;
    grid-template-columns: repeat(1, 1fr);
    margin: auto;
    border-radius: 5px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 375px) {
  #container {
    width: 90%;
    display: grid;
    border: 1px solid grey;
    grid-template-columns: repeat(1, 1fr);
    margin: auto;
    border-radius: 5px;
  }
}
